Medical Insurance Cost Prediction :: Pabitra Banerjee

About The Dataset-

- age: Age Of Primary Beneficiary

- sex: Insurance Contractor Gender, Female, Male

- bmi: Body Mass Index, Providing An Understanding Of Body, Weights That Are Relatively High Or Low Relative To Height,
  Objective Index Of Body Weight (kg / m ^ 2) Using The Ratio Of Height To Weight, Ideally 18.5 To 24.9

- children: Number Of Children Covered By Health iInsurance / Number Of Dependents

- smoker: Smoking

- region: The Beneficiary's Residential Area In USA, NorthEast, SouthEast, SouthWest, NorthWest.

- charges: Individual Medical Costs Billed By Health Insurance

## Importing The Dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

## Importing The Dataset Into A Data Frame

In [2]:
data = pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Shaping The Data

In [3]:
data.shape

(1338, 7)

### Information About The Dataset

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### Checking For Null Values In The Dataset

In [5]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

### Value Count Of The Dataset by SEX

In [6]:
data.sex.value_counts()

sex
male      676
female    662
Name: count, dtype: int64

### Value Count Of The Dataset by REGION

In [7]:
data.region.value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

### LabelEncoder

In [8]:
encoder = LabelEncoder()

### Encoding Labels

In [9]:
labels = encoder.fit_transform(data.sex)

### Label = SEX

In [10]:
data['sex'] = labels

In [11]:
data.head()

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

SEX

- MALE -> 1
- FEMALE -> 0

In [12]:
labels = encoder.fit_transform(data.region)

### Label = REGION

In [13]:
data['region'] = labels

In [14]:
data.head()

   age  sex     bmi  children smoker  region      charges
0   19    0  27.900         0    yes       3  16884.92400
1   18    1  33.770         1     no       2   1725.55230
2   28    1  33.000         3     no       2   4449.46200
3   33    1  22.705         0     no       1  21984.47061
4   32    1  28.880         0     no       1   3866.85520

REGION

- Northeast -> 0
- Northwest -> 1
- Southeast -> 2
- Southwest -> 3

In [15]:
labels = encoder.fit_transform(data.smoker)

### Label = SMOKER

In [16]:
data['smoker'] = labels

In [17]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

SMOKER 

- Yes -> 1
- No -> 0

## Splitting The Parameters And Target Variable

In [18]:
X = data.drop(columns='charges',axis=1)
Y = data['charges']

## Train Test Split The Dataset

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=101)

In [20]:
print(X.shape,X_train.shape,X_test.shape)

(1338, 6) (1070, 6) (268, 6)

## Model

In [21]:
model = RandomForestRegressor()

In [22]:
model.fit(X_train,Y_train)

RandomForestRegressor()

### Testing The Prediction

In [23]:
testing_data_prediction = model.predict(X_test)

## Accuracy Score

In [25]:
score = metrics.r2_score(Y_test,testing_data_prediction)
score

0.8426517815991951

## Building The Prediction System

In [30]:
input_data = (19,0,27.9,0,1,3)
input_data_array = np.asarray(input_data)

#reshaping the data so that it works for only one instance at a time
input_data_reshaped = input_data_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print('Predicted Medical Insurance Cost : ',str(prediction))

Predicted Medical Insurance Cost :  [17176.4195931]

C:\Users\rocks\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [28]:
import pickle

filename = 'Medical-Insurance-Cost-Prediction.sav'
pickle.dump(model, open(filename,'wb'))